<ion-header>
  <ion-toolbar>
    <ion-title>A propos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h4>Projet de LP développé<br />avec Ionic.</h4>

  <div id="me">
    <img src="https://avatars.githubusercontent.com/u/56591109?v=4" alt="avatar" id="avatar">
    <h3 id="by">Réalisé par <a href="https://github.com/NeoFeear">Florian Martin</a></h3>
  </div>

  <hr>

  <h4 id="explications">
    J'ai choisi la musique comme sujet, afin de référence chaque jour, l'album que j'ai le plus écouté. On ne peut donc en ajouter qu'un par jour.
  </h4>
</ion-content>